<footer class="footer">
  <div class="container clearfix">
    <div class="col-lg-12"> <div class="alignleft small">&copy; 2016, Haswell. All Rights Reserved.</div> <div class="alignright small">Connect with us:&nbsp;&nbsp;&nbsp;
      <ul class="social-list alignright clearfix">
        <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
      </ul>
    </div> </div>
  </div>
</footer>
