/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==================================
  Table of Contents
   ==================================
** @included fonts
** Social List
** Navbar
** Header
** About
** Contact
** Google map
** Footer
** Another /Buttons, Helper Classes.../
** Buttons
** Animations /On scroll/
** Popup
** Progress Bars
** Collapse
   ================================== */

/* ==================================
   Fonts
   ================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,400italic,600,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,400italic,600,700);
/* ==================================
   Basic
   ================================== */
html,
body {
  background: url(../images/81ZY3aS-1920x1080-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;   -o-background-size: cover;
  background-size: cover;
  height: 100%;
}


body {
  position: relative;
  color: #666;
  font-family: "Inconsolata",Arial,Helvetica,sans-serif;
  font-size: 15px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  position: relative;
  font-family: "Raleway","Open Sans",Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
  color: #fff;

}

.headline {
  text-align: center;
  margin: 36px;
}

.intro {
  color: white;
  text-align: center;
  margin-top: 36px;
}

p {
  color: white;
  text-align: center;
}

p,
blockquote {
  font-family: "Inconsolata",Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;

}
blockquote {
  font-style: italic;
  margin: 0 0 1.25rem 0;
  padding: 0 1.25rem 0 1.875rem;
  border-left: 5px solid #101820;
}
blockquote cite {
  display: block;
  font-style: normal;
  margin-top: 1em;
  text-transform: uppercase;
}
a {
  color: #101820;
  text-decoration: none;
}
a:active,
a:hover {
  color: #000;
  text-decoration: none;
}
a:focus {
  color: #ccc;
  text-decoration: underline;
  outline: none;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
figure {
  margin: 0;
}
.slider {
  margin-left: 0;
  padding: 0;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.section-header {
  margin: 4em 0;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 2em;
}
.section-title::before {
  content: attr(data-text);
  position: relative;
  display: table;
  margin: 1.5em auto;
  font-size: 0.625em;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 2px;
}
.section-title::after {
  content: "";
  display: table;
  margin: 1.5em auto;
  width: 2em;
  height: 1px;
  background-color: #101820;
}
.small-title {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin-bottom: 1.125em;
}
.small-title::before {
  content: attr(data-text);
  position: relative;
  display: block;
  margin: 0.5rem 0;
  font-size:12px;
  line-height: 1;
  font-weight: normal;
  color: #7597ba;
}
.small-title::after {
  content: "";
  display: block;
  margin: 1.625em 0;
  width: 2em;
  height: 1px;
  background-color: #101820;
}
.small-title.centered {
  text-align: center;
}
.small-title.centered::after {
  margin: 1.625em auto;
}
.icon {
  font-size: 1.875em;
  line-height: 1;
  display: inline-block;
  color: inherit;
}
.page404 {
  font-family: "Raleway","Open Sans",Arial,Helvetica,sans-serif;
  font-size: 6em;
  font-weight: bold;
}
/* ==================================
   Preloader
   ================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-flow: row nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}
.preloader span:nth-child(1),
.preloader span:nth-child(2) {
  display: block;
  width: 2em;
  height: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.preloader span:nth-child(1) {
  -webkit-order: 1;
  order: 1;
  -webkit-animation: left-circle 1.5s infinite ease-in-out;
  animation: left-circle 1.5s infinite ease-in-out;
}
.preloader span:nth-child(2) {
  -webkit-order: 2;
  order: 2;
  -webkit-animation: right-circle 1.5s infinite ease-in-out;
  animation: right-circle 1.5s infinite ease-in-out;
}
@-webkit-keyframes left-circle {
  0% {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  50% {
    -webkit-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    -moz-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    -ms-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    transform: translateX(3.125em) scale(1.5) rotate(260deg);
    background: none repeat scroll 0 0 #101820;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
@-webkit-keyframes right-circle {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    -moz-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    -ms-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    background: none repeat scroll 0 0 #000;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes left-circle {
  0% {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
  50% {
    -webkit-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    -moz-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    -ms-transform: translateX(3.125em) scale(1.5) rotate(260deg);
    transform: translateX(3.125em) scale(1.5) rotate(260deg);
    background: none repeat scroll 0 0 #101820;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    transform: translateX(0) rotate(0);
  }
}
@keyframes right-circle {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    -moz-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    -ms-transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    transform: translateX(-3.125em) scale(1.5) rotate(-260deg);
    background: none repeat scroll 0 0 #000;
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


/* ==================================
   Slider
   ================================== */

.slider-home .nav-justified.no-transparent{
  display:block; position: relative; top:0;
  margin:0; float:none; padding:25px 0; -webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.2s ease;/* Firefox 4-15 */
  -o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
  transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
}
.slider-home .nav-justified{ padding:12px 0; position:fixed;  -webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.2s ease;/* Firefox 4-15 */
  -o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
  transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */}
.rev_slider_wrapper {
  height: 720px;
  font-family: 'Raleway', sans-serif;
}
.rev_slider_wrapper ul, .rev_slider_wrapper ul li {
  overflow: hidden!important
}
.tp-leftarrow.custom, .tp-rightarrow.custom {
  -webkit-transition: all .3s;
  transition: all .3s
}
.tp-bullets.custom .tp-bullet {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #3a3a3a;
  background-color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s
}
.tp-bullets.custom .tp-bullet.selected, .tp-bullets.custom .tp-bullet:hover {
  border-color: #69b0e7; background-color:transparent;
}
.tp-caption.text {
  color: #7a7e82;
  font-size: 14px
}
.tp-caption.big-text {
  color: #22272c;
  font-size: 18px;
  font-weight: 500
}
.tp-caption.big-text-rotate {
  color: #22272c;
  font-size: 14px;
  font-weight: 500;
  -webkit-transform: rotate(-90deg)!important;
  -ms-transform: rotate(-90deg)!important;
  transform: rotate(-90deg)!important
}
.tp-caption.big-title, .tp-caption.title {
  font-weight: 700;
  text-transform: uppercase
}
.tp-caption.title {
  color: #2b2b2b;
  font-size: 60px;
  line-height: 54px
}
.tp-caption.big-title {
  color: #2b2b2b;
  font-size: 72px;
  line-height: 72px
}
.tp-caption .text-parallax-content {
  font-size: 48px;
  line-height: 48px; color:#2b2b2b; font-weight:100; text-transform:capitalize;
}
.projects-slider-navigation span i, .testimonials-slider-navigation span i {
  font-size: 24px
}
.text-parallax-content, h1.text-parallax-content {
  font-size: 86px;
  line-height: 86px
}

@media (min-width:1200px) {
  .tp-caption .text-parallax-content {
    font-size: 60px;
    line-height: 60px
  }
}

@media (min-width:768px) and (max-width:991px) {
  .tp-leftarrow.custom, .tp-rightarrow.custom {
    display: none
  }
  .tp-caption .text-parallax-content {
    font-size: 36px;
    line-height: 36px
  }
  .tp-caption .btn {
    padding: 8px 20px 6px;
    font-size: 10px
  }
  .tp-caption .btn:after, .tp-caption .btn:before {
    right: -9px;
    height: 23px
  }
  .tp-caption .btn i {
    right: 7px;
    margin-top: -7px;
    font-size: 13px
  }
  .tp-caption .btn:hover i {
    right: 0
  }
  .projects-slider h4 {
    margin-top: 50px
  }
}

@media (max-width:767px) {
  .tp-leftarrow.custom, .tp-rightarrow.custom {
    display: none
  }
  .tp-bullets.custom {
    top: auto!important;
    bottom: -45px!important
  }
  .tp-caption .text-parallax-content {
    font-size: 16px;
    line-height: 16px
  }
  .tp-caption .btn {
    padding: 6px 15px 4px;
    font-size: 6px
  }
  .tp-caption .btn:after, .tp-caption .btn:before {
    right: -5px;
    height: 16px
  }
  .tp-caption .btn:before {
    top: -4px
  }
  .tp-caption .btn:after {
    bottom: -4px
  }
  .tp-caption .btn i {
    right: 5px;
    margin-top: -5px;
    font-size: 10px
  }
  .tp-caption .btn:hover i {
    right: 0
  }
  .testimonials-slider-navigation {
    position: relative;
    display: inline-block;
    bottom: 0
  }
  .projects-slider h4 {
    margin-top: 20px
  }
  .projects-slider-navigation {
    bottom: -40px
  }
}

@media (min-width:480px) and (max-width:767px) {
  .tp-caption .text-parallax-content {
    font-size: 22px;
    line-height: 22px
  }
}


/* ==================================
   Social List
   ================================== */
.social-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0; margin-bottom:0;
}
.social-list li {
  display: inline-block;
  margin-left: 0.5em;
}
.social-list li:first-child {
  margin-left: 0;
}
.social-list a {
  width: 1.125em;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  border-radius: 1em;
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.share {
  margin-bottom: 3em;
  text-align: center;
}
/* ==================================
   Navbar
   ================================== */
nav {
  display: table;
  float: right;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
.navbar-default {
  display: table-cell;
  vertical-align: middle;
}
.navbar-default li {
  cursor: pointer;
  margin: 0 0 0 30px;
  position: relative;
}
.navbar-default li a {
  color: #2b2b2b;
  display: block;
  font-family: "Raleway",Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 16px 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 100;
}
.navbar-default li:hover a {
  color: #333333; background-color:transparent;
}
.navbar-default li a {
  color: #2b2b2b;
  position: relative;
}
.navbar-default li a::after {
  background: #2b2b2b none repeat scroll 0 0;
  bottom: 5px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  margin-left: -1px;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  width: 0;
}
.is-transparent.navbar-default li a::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 5px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  margin-left: -1px;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  width: 0;
}
.is-transparent.navbar-default li a{color:#fff;}
.navbar-default li a:hover::after {
  color: #2b2b2b;
  left: 0;
  width: 100%;
}

form  {
  position: absolute;
}


.navbar-default li.active a::after {
  left: 0;
  width: 100%;
}

.navbar-default .navbar-nav > li.active a{background-color:transparent;}

@media only screen and (min-width: 991px) {
  .is-transparent {
    background-color: transparent;
    border-color: transparent;
    padding: 1em;
  }
  .is-transparent .navbar-brand {
    color: #fff;
  }

  .is-transparent .navbar-nav > li > a {
    color: #ffffff;
  }
  .is-transparent .navbar-nav > li > a:hover,
  .is-transparent .navbar-nav > li > a:focus {
    color: #ffffff;
    opacity: 1;
  }

}

/* ==================================
   Header
   ================================== */
.header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -ms-flex-flow: column wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  min-height: 75vh;
  padding: 2em;
  text-align: center;
  color: #ffffff;
  background: url(../img/backgrounds/placeholder1.jpg) no-repeat scroll center center #c8c9c7;
  background-size: cover;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  opacity: 0.5;
}

.header .button {
  margin-bottom: 0;
}
.hero {
  height: 100%;
  min-height: 100vh;
  background: url(../img/backgrounds/placeholder1.jpg) no-repeat scroll center center #c8c9c7;
  background-size: cover;
}

.banner {
  z-index: 2;
}
.banner h1, .banner h4, .banner p, .banner h2 {
  color: #ffffff;
}

.banner .btn {
  margin-top: 1em;
}
.scroll-down {
  position: absolute;
  right: 0;
  bottom: 1em;
  left: 0;
  margin: auto;
  display: block;
  width: 2em;
  height: 2em;
}
.scroll-down:hover {
  -webkit-animation: simAnim 1s infinite;
  animation: simAnim 1s infinite;
}
@-webkit-keyframes simAnim {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0;
  }
}
@keyframes simAnim {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0;
  }
}
@media only screen and (max-width: 40em) {
  .header {
    min-height: 75%;
    height: auto;
  }
  .hero {
    min-height: 100%;
  }
}
/* ==================================
   About
   ================================== */
.about {
  width: 100%;
  height: auto;
  padding: 4em 0 0;
  text-align: center;
  background: none no-repeat scroll center center #ffffff;
}
.mockup {
  overflow: hidden;
}
.mockup img {
  margin-top: -4em;
  /*only demo*/

}

/* ==================================
   Portfolio
   ================================== */
nav.popup-nav {
  display: block;
  float:  none;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
.portfolio {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2em 0 4em;
  text-align: center; background-color:#fff;
}
.isotope {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* clear fix */
.isotope::after {
  content: '';
  display: block;
  clear: both;
}
.item {
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
  background-color: rgba(244, 243, 243, 0.2);
  margin-bottom: 0.875em;
}
.grid-sizer,
.gutter-sizer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.item,
.grid-sizer {
  width: 32.5%;
}
.gutter-sizer {
  width: 1%;
}
@media (max-width: 768px) {
  .item,
  .grid-sizer {
    width: 99%;
  }
  .gutter-sizer {
    width: 1%;
  }
}
@media (min-width: 768px) and (max-width: 970px) {
  .item,
  .grid-sizer {
    width: 31%;
  }
  .gutter-sizer {
    width: 2%;
  }
}
.item-figure {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #B2B2B2;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.item-figure img {
  position: relative;
  display: block;
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  -moz-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}
.item-figure p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #666;
  text-align: right;
  opacity: 0;
  color: #666;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.item-figure:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.item-figure:hover .overlay:before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.item-figure:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.overlay > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.filter {
  display: table;
  margin: 0 auto 3em;
  padding: 0;
  list-style: none;
}
.filter li {
  display: inline-block;
  margin-right: 0.5em;
}
.filter li:last-child {
  margin-right: 0;
}
.btn.load-more {
  display: inline-block;
  margin-top: 3em;
}

/* ==================================
   Blog
   ================================== */
.blog {
  position: relative;
  width: 100%;
  height: auto;
  padding: 2em 0 1em;
  text-align: center;
}
/* clear fix */
#list-masonry::after {
  content: "";
  display: block;
  clear: both;
}
.post {
  padding: 1em 0 3em;
  margin: 2em 0 3em;
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}
.post:last-child {
  margin-bottom: 1.5em;
  border-bottom: none;
}
.post-media {
  margin-bottom: 2em;
}
.post-title {
  margin-bottom: 1em;
  font-weight: bold;
}
.post.preview {
  padding: 0 0 3em;
}
.post.preview .post-media {
  margin-bottom: 1em;
}
.post.gridview {
  text-align: center;
  margin-top: 0;
  border: none;
}
.meta-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.meta-list li {
  display: inline-block;
  position: relative;
}
.meta-list li:last-child .meta {
  margin-right: 0;
}
.meta-list li:last-child .meta::after {
  content: none;
}
.meta {
  position: relative;
  font-family: "Roboto Regular", sans-serif;
  font-size: 0.75em;
  line-height: 1.4;
  color: #838379;
  text-transform: uppercase;
  margin-right: 1.5em;
}
.meta::before {
  content: attr(data-text);
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin-right: 0.125em;
  color: #838379;
}
.meta::after {
  content: "";
  display: inline;
  position: absolute;
  top: 41%;
  right: -12px;
  width: 4px;
  height: 4px;
  background-color: #838379;
}
.post-text {
  margin: 1em 0 2em;
}

.brands img:hover{opacity:1;transition: all 0.2s ease 0s;}

/* ==================================
   Footer
   ================================== */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: transparent;
  color: #FFFFFF;
}

.footer .container {
  padding-bottom: 39px;
  padding-top: 39px;
}
.footer h6 {
  margin: 1.5em 0;
}
.footer h6 a {
  position: relative;
  display: table;
  padding: 0;
  margin: auto;
  font-weight: normal;
  text-transform: uppercase;
  color: #101820;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.footer .social-list.alignright i.fa {
  margin-left: 3px;
}
.footer .social-list li a i {
  color: #8d8d8d;
  font-size: 16px;
  position: relative;
  top: 2px;
}
@media only screen and (min-width: 40.063em) {
  .footer.fixed-bottom {
    position: fixed;
    z-index: -99;
  }
  .footer.fixed-bottom h6 {
    margin-top: 0;
  }
}
/* ==================================
   Another /Buttons, Helper Classes.../
   ================================== */
/* ==================================
   Buttons
   ================================== */
.btn {
  border: 2px solid #2b2b2b;
  color: #2b2b2b;
  display: inline-block;
  font-family: "Raleway","Open Sans",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
  padding: 12px 25px 10px;
  position: relative;
  text-shadow: none !important;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  z-index: 1;border-radius:0; background-color:transparent;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #101820;
  text-decoration: none;
}
.btn-default {
  color:#2b2b2b
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #000;
  border-color: transparent;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #c8c9c7;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #101820;
}
.btn-primary {
  color: #ffffff;
  background-color: #6787b7;
  border-color: #5679af;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #4c6d9f;
  border-color: #405d87;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #6787b7;
  border-color: #5679af;
}
.btn-primary .badge {
  color: #6787b7;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #789d4a;
  border-color: #6b8c42;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #5e7a3a;
  border-color: #4b622e;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #789d4a;
  border-color: #6b8c42;
}
.btn-success .badge {
  color: #789d4a;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #7ba4db;
  border-color: #6796d6;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #5388d0;
  border-color: #3775c8;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #7ba4db;
  border-color: #6796d6;
}
.btn-info .badge {
  color: #7ba4db;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
}

.btn_home:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #000;
  border-color: transparent;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #000;
  border-color: #e9943d;
}
.btn-warning .badge {
  color: #eca154;
  background-color: #ffffff;
}
.btn-slide:hover{ color: #000;
  background-color: #ffffff; border:2px solid #fff;}
.btn-danger {
  background-color: #ffffff;
  border-color: transparent;
  color: #2b2b2b;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #111111;
  border-color: #000;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #c26e60;
  border-color: #bb5d4e;
}
.btn-danger .badge {
  color: #c26e60;
  background-color: #ffffff;
}
.btn.btn-danger.video-btn:hover {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(255, 255, 255);
}
.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #6a8fb4;
  text-decoration: none;
}
.btn-sm,
.btn-group-sm > .btn {
  font-size: 10px;
  line-height: 1.5;
  padding: 5px 11px;
}
.label-default {
  background-color: #6a8fb4;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #4e769d;
}
.label-primary {
  background-color: #6787b7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #4c6d9f;
}
.label-success {
  background-color: #789d4a;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #5e7a3a;
}
.label-info {
  background-color: #7ba4db;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #5388d0;
}
.label-warning {
  background-color: #eca154;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #e78826;
}
.label-danger {
  background-color: #c26e60;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #ad5142;
}
/* ==================================
   Animations /On scroll/
   ================================== */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.delay-01 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.animated.delay-02 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animated.delay-03 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.delay-04 {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.animated.delay-05 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}
.animated.delay-06 {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* ==================================
   Create delay as follows:
.animated.delay-[time] {
    -webkit-animation-delay: [time]s;
       -moz-animation-delay: [time]s;
        -ms-animation-delay: [time]s;
            animation-delay: [time]s;
}
================================== */

/* ==================================
   Collapse
   ================================== */
.panel-group .panel {
  margin-bottom: 0px;
  border-radius: 1px;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #ffffff;
  border-color: #DDD;
}
.panel-title {
  font-family: "Roboto Regular", sans-serif;
}

/* ==================================
   Label
   ================================== */

label {
  color: #fff;
}




