<h3 class="headline">A Software Developer training to becoming a Full Stack Developer.</h3>
<p class="contact">I consider myself a hard worker who likes to learn. Currently I'm working as a freelance web developer,
taking on projects, that will aid me along the way in becoming a Full Stack Developer.
I currently hold a Associates degree in applied sciences and a Bachelor's degree in computer science,
and now I'm working on receiving a certificate in Full Stack Development. Recently I've built my own computer that I use for everyday development.
  Besides my passion for IT, I am also taking up a foreign language; Spanish. </p>
